body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

#container {
  margin-top: 38px; /* Gezinme çubuğu yüksekliği kadar içeriğin başlangıcını aşağıya kaydır */
}

nav {
  background-color: #333;
  border-radius: 0; /* Yuvarlaklık olmaması için */
  width: 100%;
  margin-left: auto; /* Ekranın ortasından sağa kaydırmak için */
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99; /* Diğer elemanların üstünde kalması için bir z-index değeri belirle */
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end; /* Menüyü sağa yaslamak için */
  margin: 0;
  z-index: 99
}

nav ul li {
  margin-right: 10px;
}

nav a {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}

nav a:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 0 0 10px 10px;
  right: 0; /* Açılır pencerenin ekranın sağ tarafına taşınması için */
}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  margin-bottom: 20px;
}

section h2 {
  color: #333;
}

section ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

section img {
  margin: 0 10px;
  border-radius: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 0; /* Yuvarlaklık olmaması için */
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#social-media-icons,
#useful-links-icons {
  display: flex;
}

#social-media-icons a {
  margin-right: 10px;
}

#useful-links-icons a {
  margin-left: 10px;
}

.cta {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
}


